.icons-sprite, .icons-chrome, .icons-firefox, .icons-ie, .icons-opera, .icons-safari, .foo {
  background: url("../../images/foobar/icons.png?_=1fa09a7") no-repeat;
}

.icons-chrome {
  background-position: -40px 0;
  width: 40px;
  height: 40px;
}

.icons-chrome:hover, .icons-chrome.chrome-hover {
  background-position: 0 0;
}

.icons-firefox {
  background-position: -40px -40px;
  width: 40px;
  height: 40px;
}

.icons-firefox:hover, .icons-firefox.firefox-hover {
  background-position: 0 -40px;
}

.icons-ie {
  background-position: -80px -40px;
  width: 40px;
  height: 40px;
}

.icons-ie:hover, .icons-ie.ie-hover {
  background-position: -80px 0;
}

.icons-opera {
  background-position: 0 -80px;
  width: 40px;
  height: 40px;
}

.icons-safari {
  background-position: -40px -80px;
  width: 40px;
  height: 40px;
}

.foo {
  background-position: -40px -80px;
}
