.icons-sprite, .icons-chrome, .icons-firefox, .icons-ie {
  background-image: url("../../images/foobar/icons.png?_=046981a");
  background-repeat: no-repeat;
}

.icons-chrome {
  background-position: -32px 0;
  width: 32px;
  height: 32px;
}

.icons-chrome:hover, .icons-chrome.chrome-hover {
  background-position: 0 0;
}

.icons-firefox {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}

.icons-firefox:hover, .icons-firefox.firefox-hover {
  background-position: 0 -32px;
}

.icons-ie {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}

.icons-ie:hover, .icons-ie.ie-hover {
  background-position: -64px 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icons-sprite, .icons-chrome, .icons-firefox, .icons-ie {
    background-image: url("../../images/foobar/icons@2x.png?_=1879bdc");
    background-repeat: no-repeat;
    background-size: 96px 64px;
  }
  .icons-chrome {
    background-position: -32px 0;
  }
  .icons-chrome:hover, .icons-chrome.chrome-hover {
    background-position: 0 0;
  }
  .icons-firefox {
    background-position: -32px -32px;
  }
  .icons-firefox:hover, .icons-firefox.firefox-hover {
    background-position: 0 -32px;
  }
  .icons-ie {
    background-position: -64px -32px;
  }
  .icons-ie:hover, .icons-ie.ie-hover {
    background-position: -64px 0;
  }
}
