{
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "indent": ["error", 4],
    "key-spacing": ["error", {
      "mode": "minimum"
    }],
    "max-len": ["error", {
      "code": 120,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }]
  }
}
