/*
            .icons-sprite, .icons-chrome--hover, .icons-chrome, .icons-edge, .icons-firefox, .icons-ie11, .icons-ie9, .icons-opera, .icons-safari {
                background: url('../images/icons.png') no-repeat;
            }
            @mixin icons-chrome--hover {
                background-position: 0 0;
            }
            @mixin icons-chrome {
                background-position: -40px 0;
            }
            @mixin icons-edge {
                background-position: -40px -40px;
                &:hover, &.edge_hover, &.edge-hover {
                    background-position: 0 -40px;
                }
            }
            @mixin icons-firefox {
                background-position: -80px 0;
            }
            @mixin icons-ie11 {
                background-position: -80px -40px;
            }
            @mixin icons-ie9 {
                background-position: 0 -80px;
            }
            @mixin icons-opera {
                background-position: -40px -80px;
            }
            @mixin icons-safari {
                background-position: -80px -80px;
            }
            @mixin icons-sprite($name) {
                @if $name == 'chrome--hover' {
                    @include icons-chrome--hover;
                }
                @else if $name == 'chrome' {
                    @include icons-chrome;
                }
                @else if $name == 'edge' {
                    @include icons-edge;
                }
                @else if $name == 'firefox' {
                    @include icons-firefox;
                }
                @else if $name == 'ie11' {
                    @include icons-ie11;
                }
                @else if $name == 'ie9' {
                    @include icons-ie9;
                }
                @else if $name == 'opera' {
                    @include icons-opera;
                }
                @else if $name == 'safari' {
                    @include icons-safari;
                }
            }
            @mixin all-icons-sprites {
                .icons-chrome--hover {
                    @include icons-chrome--hover;
                }
                .icons-chrome {
                    @include icons-chrome;
                }
                .icons-edge {
                    @include icons-edge;
                }
                .icons-firefox {
                    @include icons-firefox;
                }
                .icons-ie11 {
                    @include icons-ie11;
                }
                .icons-ie9 {
                    @include icons-ie9;
                }
                .icons-opera {
                    @include icons-opera;
                }
                .icons-safari {
                    @include icons-safari;
                }
            }
*/
.icons-sprite, .icons-chrome--hover, .icons-chrome, .icons-edge, .icons-firefox, .icons-ie11, .icons-ie9, .icons-opera, .icons-safari {
  background: url("../images/icons.png") no-repeat;
}

.icons-chrome--hover {
  background-position: 0 0;
}

.icons-chrome {
  background-position: -40px 0;
}

.icons-edge {
  background-position: -40px -40px;
}

.icons-edge:hover, .icons-edge.edge_hover, .icons-edge.edge-hover {
  background-position: 0 -40px;
}

.icons-firefox {
  background-position: -80px 0;
}

.icons-ie11 {
  background-position: -80px -40px;
}

.icons-ie9 {
  background-position: 0 -80px;
}

.icons-opera {
  background-position: -40px -80px;
}

.icons-safari {
  background-position: -80px -80px;
}

.foo {
  background-position: -80px -80px;
}
