$sprite-selectors: hover, target, active, focus !default;
$disable-magic-sprite-selectors: false !default;
$default-sprite-separator: '-' !default;
$icons-sprite-dimensions: false !default;
$icons-class-separator: $default-sprite-separator !default;
$icons-sprite-base-class: '.icons#{$icons-class-separator}sprite' !default;
$icons-pixel-ratio: 2;
$icons-image-width: 192px;
$icons-image-height: 128px;

%icons-c137301 {
    background-image: url('../images/foobar/icons@2x.png?_=c137301');
    background-repeat: no-repeat;
    @if $icons-pixel-ratio != 1 {
        background-size: #{$icons-image-width / $icons-pixel-ratio} #{$icons-image-height / $icons-pixel-ratio};
    }
}
#{$icons-sprite-base-class} {
    @extend %icons-c137301;
}

$icons-sprites: (
    chrome: (
        x: 64px, y: 0, width: 64px, height: 64px, hover: (x: 0, y: 0, width: 64px, height: 64px)
    ),
    firefox: (
        x: 64px, y: 64px, width: 64px, height: 64px, hover: (x: 0, y: 64px, width: 64px, height: 64px)
    ),
    ie: (
        x: 128px, y: 64px, width: 64px, height: 64px, hover: (x: 128px, y: 0, width: 64px, height: 64px)
    )
);

@function icons-sprite-width($sprite) {
    @return map-get(map-get($icons-sprites, $sprite), 'width');
}

@function icons-sprite-height($sprite) {
    @return map-get(map-get($icons-sprites, $sprite), 'height');
}

@mixin icons-sprite-dimensions($sprite) {
    width: #{icons-sprite-width($sprite) / $icons-pixel-ratio};
    height: #{icons-sprite-height($sprite) / $icons-pixel-ratio};
}

@mixin sprite-magic-background-position($sprite-data, $offset-x: 0, $offset-y: 0) {
    $x: $offset-x - map-get($sprite-data, 'x');
    $y: $offset-y - map-get($sprite-data, 'y');
    background-position: #{$x / $icons-pixel-ratio} #{$y / $icons-pixel-ratio};
}

@mixin icons-sprite-selectors(
    $sprite-name, $full-sprite-name, $offset-x: 0, $offset-y: 0,
    $unsupported: false, $separator: $icons-class-separator
) {
    $sprite-data: map-get($icons-sprites, $sprite-name);
    @each $state in $sprite-selectors {
        @if map-has-key($sprite-data, $state) {
            $sprite-class: "#{$full-sprite-name}#{$separator}#{$state}";
            &:#{$state}, &.#{$sprite-class} {
                @include sprite-magic-background-position(map-get($sprite-data, $state), $offset-x, $offset-y);
            }
        }
    }
}

@mixin icons-sprite(
    $sprite, $dimensions: $icons-sprite-dimensions, $offset-x: 0, $offset-y: 0, $unsupported: false,
    $use-magic-selectors: not $disable-magic-sprite-selectors, $separator: $icons-class-separator
) {
    $sprite-data: map-get($icons-sprites, $sprite);
    @extend %icons-c137301;
    @include sprite-magic-background-position($sprite-data, $offset-x, $offset-y);
    @if $dimensions {
        @include icons-sprite-dimensions($sprite);
    }
    @if $use-magic-selectors {
        @include icons-sprite-selectors(
            $sprite, $sprite, $offset-x, $offset-y, $unsupported, $separator
        );
    }
}

@mixin all-icons-sprites($dimensions: $icons-sprite-dimensions) {
    .icons-chrome {
        @include icons-sprite(chrome, $dimensions);
    }
    .icons-firefox {
        @include icons-sprite(firefox, $dimensions);
    }
    .icons-ie {
        @include icons-sprite(ie, $dimensions);
    }
}
